body{
    background-color: #f1f1f1;
    color: #0f141e;    
    font: normal 16px 'Roboto', sans-serif;
}

@media(min-width: 1100px){
    body{
        width: 50%;
        position: absolute;
        left: 25%;
    }
}


body h2,h1{
    text-align: center;
}

.photo{
    border-radius: 10px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

.info{
    margin-bottom: 20px;
    display: flex;
    margin: 30px;
}

.info p{
    color: #86898f;
    margin: 0;
    font-weight: bold;
    text-decoration: none;

}

.info-text{
    margin-left: 40px;
    margin-bottom: 10px;    
}

.info-text p{
    color: #86898f;
    margin: 0;
    font-weight: bold;
    text-decoration: none;
    margin-top: 10px;
}

.list{
    list-style: circle;
} 

.list li{
    margin-left: 30px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    /*border-bottom: 1px solid #ccc;*/
}


.study table{
    margin: auto;
    margin-bottom: 20px;
}

.study th{
    text-align: left;
    font-weight:normal;
    width: 80%;
}

.study td{
    text-align: right;
    width: 20%;
}

.courses table{
    width: 75%;
    margin: auto;
    text-align: center;
}
.courses th{
    border-bottom: 2px solid #000;
    padding: 10px;
}
.courses tbody th{
    text-decoration: underline;
    border-bottom: none;    
    font-weight:normal;
}


.contacts > div{    
    float: left;
     width: 25%;
    box-sizing: border-box;
    text-align: center;

}

.bg-red{background: #ffe5e5; border: 2px solid #555; margin: 30px; border-radius: 10px;}
.bg-yellow{background: #fff9dc; border: 2px solid #555; margin: 30px; border-radius: 10px;}
.bg-green{background: #e5ffe7; border: 2px solid #555; margin: 30px; border-radius: 10px;}

